{{! Willsong - BLOG FOOTER PARTIAL }}

<footer id="foot_willsong">
	
	<section id="foot_content">
		<ul id="sociallinks_willsong">
			<li><a href="{{@blog.url}}/rss/" class="fa fa-rss"></a></li>
			<li><a href="#" class="fa fa-twitter"></a></li>
			<li><a href="#" class="fa fa-facebook"></a></li>
			<li><a href="#" class="fa fa-github"></a></li>
		</ul>
	</section>
	
	<section id="copyright_willsong">
		© {{date format="YYYY"}} Willsong. Theme crafted by <a href="//marcosn.com">marcosn.com</a>. Proudly powered by <a href="//ghost.org">Ghost</a>.
	</section>
</footer>